<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title> Panace.ai</title>

    <link rel="stylesheet" href="css/ques.css"> 
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    
 
</head>

<body>
    <header>
        <nav class="nav-bar">
            <ul>
                <li><a class="active" href="#">Home</a></li>
                <li><a href="#">Features</a>
                </li>
                <li><a href="#">About</a></li>
                <li><a href="#">Self Diagnosis</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </nav>
    </header>
    <!--div class="container">
        <form>

            <div class="img">
                <img src="logo.png" width="180" height="100">
            </div>

            <div class="form">
                <p style="text-align:center;">How long have you had<br>diarrhoea?<br></p>
                <h5 style="color:gray;text-align: center;">Select one answer</h5>
                <form>
                    <div class="a">

                        <input type="radio" name="a"><label>Less than 48 hours</label><br>
                        <input type="radio" name="a"><label>Between 2 days and 14<br>days</label><br>

                        <input type="radio" name="a"><label>More than 2 weeks<br></label>

                    </div>

            </div>
            <a href="1.html" class="next">Next</a>
        </form>
    </div-->

    <section class="book" id="book"> 
        <h1 class="heading"> <span>Profile</span> Capture </h1>     
        <div class="row"> 
             
            <form action="insert.php" method="post"> 
                <label for="name">How long have you had diarrhoea?</label><br>
                <input type="radio" name="a" >Less than 48 hours<br>
                <input type="radio" name="a" >Between 2 days and 14 days<br>
                <input type="radio" name="a" >More than 2 weeks<br>
                
                <!-- -------------------------------------------------------------------------------- -->
 
                <!-- ------------------------------------------------------------------------------------------ -->
                <input  type="submit" value="Next" name="submit" class="btn">
            </form> 
        </div> 
    </section> 
</body>

</html>